*{
  box-sizing: border-box;
}


body{
  margin: 0;
}


.section{
  width: 1120px;
  
}


/* -------------------------------------
--------------  데스크탑  -----------------
---------------------------------------- */

/*------------------------------------------------------------header------------------------------------------------------------*/


          
  header.section{
    width: clamp(400px, 58.3vw, 1120px);         /*화면크기가 1920px일때 width가 1120px이 되는 비율 (1120px/1920px)*100vw 값*/
    margin: 9.5px auto;
    padding:0 200px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login_button{
    display: inline-block;
    text-decoration: none;
    width: clamp(84px, 10vw, 128px);
    height: clamp(38px, 3.7vw, 48px);
    text-align: center;
    line-height: clamp(38px, 3.7vw, 48px);
    background-color: #3692ff;
    font-family: "pretendard";
    font-size: clamp(13px, 1.3vw, 16px);
    font-weight: 600;
    color: #f3f4f6;
    border-radius: 8px;
    
  }

  header div{
    display: flex;
    align-items: center;
  }

  header img{
    margin-right: 5.8px;
    width: clamp(34px, 3.7vw, 40px);
    height: clamp(34.7px, 3.7vw, 41px);

  }

  header .title{
  font-size: clamp(21px, 1.7vw, 25.63px);
  font-weight: 700;
 
  color: #3692ff;
  text-decoration: none;
  }



/*------------------------------------------------------------banner------------------------------------------------------------*/


  .banner_bg_top, .banner_bg_bottom{
    height: clamp(378px, 30vw, 540px);
    background-color: #cfe5ff;
    position: relative;
  }

  .banner_bg_top .banner.section{
    position:absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;                    /* 왼쪽 기준을 화면의 정중앙으로 이동 */
    transform: translateX(-50%);  /* 자기 너비의 절반만큼 왼쪽으로 당겨서 완전한 가운데 */
    width: clamp(777px, 85vw, 1110px);
    height: clamp(238px, 25vw, 340px);
  }

  .banner_bg_bottom .banner.section{
    position:absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;                    /* 왼쪽 기준을 화면의 정중앙으로 이동 */
    transform: translateX(-50%);  /* 자기 너비의 절반만큼 왼쪽으로 당겨서 완전한 가운데 */
    width: clamp(777px, 85vw, 1110px);
    height: clamp(278px, 28vw, 397px);
  }

  .banner.section>img{
    width: clamp(522px, 54vw,746px)
  }
  .banner_text_box{
    flex:1 0 ;
  }

  .banner_text_box span{
    font-family: "pretendard";
    font-size: clamp(28px, 2.6vw, 40px);
    font-weight: 700;
    color: #374151;
  }

  .banner_text_box a{
    display: inline-block;
    text-decoration: none;
    width: clamp(250px, 20vw, 357px);
    height: clamp(39.2px, 3vw, 56px);
    text-align: center;
    line-height: clamp(39.2px, 3vw, 56px);
    font-family: "pretendard";
    font-size: clamp(14px, 1.3vw, 20px);
    font-weight: 600;
    color: #f9fafb;
    border-radius: 40px;
    margin-top: 30px;
    background-color: #3692ff;
  }


/*------------------------------------------------------------section------------------------------------------------------------*/


  section{
    
    height: clamp(1512px, 145vw, 2160px);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

  }

  section> .hot_item{
    width: clamp(691.6px, 60vw, 988px);
    height: clamp(310.8px, 25vw, 444px);
    margin: auto auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  section> .search{
    width: clamp(691.6px, 60vw, 988px);
    height: clamp(310.8px, 25vw, 444px);
    margin: auto auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  section> .register{
    width: clamp(691.6px, 60vw, 988px);
    height: clamp(310.8px, 25vw, 444px);
    margin: auto auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  .article_textbox{
    
    font-size: clamp(16.8px, 1.4vw, 24px);
    font-weight: 500;
    color: #374151;
  }

  .register .article_textbox{
    padding-right: 0.54em;
  } 

  section .hot_item img{
    width: clamp(405.3px, 30vw, 579px);
  }

  section .search img{
    width: clamp(405.3px, 30vw, 579px);
  }

  .register img{
    border-radius: 12px;
    width: clamp(405.3px, 30vw, 579px);
  }

  .article_textbox> span{
    display:inline-block;
    font-size: 0.76em;
    font-weight: 700;
    color: #3692ff;
    margin-bottom: 0.68em;
    
  }

  .article_textbox> div{
    font-size: 1.66em;
    font-weight: 700;
    color: #374151;
    margin-bottom: 1em;
  }




/*------------------------------------------------------------footer------------------------------------------------------------*/



  footer{
    height: 160px;
    background-color: #111827;
    position: relative;
  }

  .footer_textbox{
    
    width: clamp(784px, 90vw, 1120px);
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #e5e7eb;
    position: absolute;
    top: 32px;
    left: 50%;    
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_textbox> .footer_info{
    color: #9ca3af;
  }

  .footer_textbox> .footer_links{
    width: 159px;
    height: 19px;
    display: flex;
    color: #e5e7eb;
    
    justify-content: space-between;
  }

  .footer_links > a{
    color: #e5e7eb;
    text-decoration: none;
    line-height: 19px;
  }
  .footer_textbox> .footer_sns{
    width: 116px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    
  }









/* -------------------------------------
--------------  테블릿  -----------------
---------------------------------------- */

@media (max-width: 992px){

/*--------------------------------header----------------------------------*/
header.section{
    width: clamp(697px, 58.3vw, 1120px);         
    margin: 9.5px auto;
    padding: 0 30px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login_button{
    display: inline-block;
    text-decoration: none;
    width: clamp(84px, 10vw, 128px);
    height: clamp(38px, 3.7vw, 48px);
    text-align: center;
    line-height: clamp(38px, 3.7vw, 48px);
    background-color: #3692ff;
    font-family: "pretendard";
    font-size: clamp(13px, 1.3vw, 16px);
    font-weight: 600;
    color: #f3f4f6;
    border-radius: 8px;
    
  }

  header div{
    display: flex;
    align-items: center;
  }

  header img{
    margin-right: 5.8px;
    width: clamp(34px, 3.7vw, 40px);
    height: clamp(34.7px, 3.7vw, 41px);

  }

  header .title{
  font-size: clamp(21px, 1.7vw, 25.63px);
  font-weight: 700;

  color: #3692ff;
  text-decoration: none;
  }


/*--------------------------------banner----------------------------------*/

  .banner_bg_bottom{
    height: clamp(927px, 115vw, 1324px);
    background-color: #cfe5ff;
    
  }
  .banner_bg_top{
    height: clamp(771px, 100vw, 1101px);
    background-color: #cfe5ff;

  }
  .banner_bg_top .banner.section{
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    left: 50%;                    /* 왼쪽 기준을 화면의 정중앙으로 이동 */
    transform: translateX(-50%);  /* 자기 너비의 절반만큼 왼쪽으로 당겨서 완전한 가운데 */
    width: clamp(744px, 85vw, 1062px);
    height: clamp(771px, 100vw, 1101px);
  }

  .banner_bg_bottom .banner.section{
    position: relative;
    bottom: 0px;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;                    /* 왼쪽 기준을 화면의 정중앙으로 이동 */
    transform: translateX(-50%);  /* 자기 너비의 절반만큼 왼쪽으로 당겨서 완전한 가운데 */
    width: clamp(744px, 85vw, 1062px);
    height: clamp(927px, 115vw, 1324px);
  }

  .banner.section>img{
    position: absolute;
    bottom:0;
    width: 100%;
  }
  .banner_text_box{
   
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    width: clamp(600px, 65vw, 740px);
  }
.banner_bg_bottom .banner_text_box{
   
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: clamp(170px, 25vw, 280px);
    width: clamp(600px, 65vw, 740px);
  }


  .banner_text_box span{
   
    font-family: "pretendard";
    font-size: clamp(39px, 5vw, 45px);
    font-weight: 700;
    color: #374151;
    text-align: center;
  }

  .banner_text_box a{
    display: inline-block;
    text-decoration: none;
    width: clamp(357px, 45vw, 510px);
    height: clamp(56px, 7vw, 80px);
    text-align: center;
    line-height: clamp(56px, 7vw, 80px);
    font-family: "pretendard";
    font-size: clamp(20px, 2.4vw, 28px);
    font-weight: 600;
    color: #f9fafb;
    border-radius: 40px;
    margin-top: 30px;
    background-color: #3692ff;
  }



/*--------------------------------section----------------------------------*/


  section{
    height: clamp(2184px, 280vw, 3093px);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

  }

  section> .hot_item{
    width: clamp(700px, 80vw, 990px);
    height: clamp(708px, 82vw, 1010px);
    margin: 0 auto 20px auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

   section> .search{
    width: clamp(700px, 80vw, 990px);
    height: clamp(708px, 82vw, 1010px);
    margin: 0 auto 20px auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  section> .register{
    width: clamp(700px, 80vw, 990px);
    height: clamp(708px, 82vw, 1010px);
    margin: 0 auto 20px auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }


  .article_textbox{
    width: 100%;
    font-size: clamp(16.8px, 1.4vw, 24px);
    font-weight: 500;
    color: #374151;
  }
  
  
  .search .article_textbox{
    text-align: right;
  } 

  

  section .hot_item img{
    width: 100%
  }

  section .search img{
    width: 100%
  }

  section .register img{
    border-radius: 12px;
    width: 100%;
  }

  .article_textbox> span{
    display:inline-block;
    font-size: 0.76em;
    font-weight: 700;
    color: #3692ff;
    margin-bottom: 0.68em;
    
  }

  .article_textbox> div{
    font-size: 1.66em;
    font-weight: 700;
    color: #374151;
    margin-bottom: 1em;
  }


  /*--------------------------------footer----------------------------------*/


  footer{
    height: 160px;
    background-color: #111827;
    position: relative;
  }

  .footer_textbox{
    
    width: clamp(696px, 88vw, 994px);
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #e5e7eb;
    position: absolute;
    top: 32px;
    left: 50%;    
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_textbox> .footer_info{
    color: #9ca3af;
  }

  .footer_textbox> .footer_links{
    width: 159px;
    height: 19px;
    display: flex;
    color: #e5e7eb;
    
    justify-content: space-between;
  }

  .footer_links > a{
    color: #e5e7eb;
    text-decoration: none;
    line-height: 19px;
  }
  .footer_textbox> .footer_sns{
    width: 116px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    
  }
}



/* -------------------------------------
--------------  모바일  -----------------
---------------------------------------- */



@media (max-width: 768px){

  /*--------------------------------header----------------------------------*/
  header.section{
    width: clamp(375px, 80vw, 700px);         
    margin: 9.5px auto;
    
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login_button{
    display: inline-block;
    text-decoration: none;
    width: clamp(84px, 10vw, 128px);
    height: clamp(38px, 3.7vw, 48px);
    text-align: center;
    line-height: clamp(38px, 3.7vw, 48px);
    background-color: #3692ff;
    font-family: "pretendard";
    font-size: clamp(13px, 1.3vw, 16px);
    font-weight: 600;
    color: #f3f4f6;
    border-radius: 8px;
    
  }

  header div{
    display: flex;
    align-items: center;
  }

  header img{
   
    width: 0;
    height: 0;

  }

  header .title{
  font-size: clamp(21px, 1.7vw, 25.63px);
  font-weight: 700;
  
  color: #3692ff;
  text-decoration: none;
  }


  /*--------------------------------banner----------------------------------*/

  .banner_bg_bottom{
    height: clamp(540px, 115vw, 771px);
    background-color: #cfe5ff;
    
  }

  .banner_bg_top{
    height: clamp(540px, 115vw, 771px);
    background-color: #cfe5ff;

  }
  .banner_bg_top .banner.section{
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    left: 50%;                    /* 왼쪽 기준을 화면의 정중앙으로 이동 */
    transform: translateX(-50%);  /* 자기 너비의 절반만큼 왼쪽으로 당겨서 완전한 가운데 */
    width: clamp(375px, 85vw, 535px);
    height: clamp(540px, 115vw, 771px);
  }

  .banner_bg_bottom .banner.section{
    position: relative;
    bottom: 0px;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;                    /* 왼쪽 기준을 화면의 정중앙으로 이동 */
    transform: translateX(-50%);  /* 자기 너비의 절반만큼 왼쪽으로 당겨서 완전한 가운데 */
    width: clamp(375px, 85vw, 535px);
    height: clamp(540px, 115vw, 771px);
  }

  .banner.section>img{
    position: absolute;
    bottom:0;
    width: 100%;
  }
  .banner_text_box{
   
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    width: clamp(600px, 65vw, 740px);
  }
.banner_bg_bottom .banner_text_box{
   
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: clamp(120px, 25vw, 200px);
    width: clamp(600px, 65vw, 740px);
  }


  .banner_text_box span{
   
    font-family: "pretendard";
    font-size: clamp(32px, 8vw, 40px);
    font-weight: 700;
    color: #374151;
    text-align: center;
  }

  .banner_text_box a{
    display: inline-block;
    text-decoration: none;
    width: clamp(357px, 45vw, 510px);
    height: clamp(56px, 7vw, 80px);
    text-align: center;
    line-height: clamp(56px, 7vw, 80px);
    font-family: "pretendard";
    font-size: clamp(20px, 2.4vw, 28px);
    font-weight: 600;
    color: #f9fafb;
    border-radius: 40px;
    margin-top: 30px;
    background-color: #3692ff;
  }
  /*--------------------------------section----------------------------------*/

  section{
    height: clamp(1311px, 270vw, 1845px);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

  }

  section> .hot_item{
    width: clamp(344px, 70vw, 491px);
    height: clamp(417px, 72vw, 595px);
    margin: 0 auto 20px auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

   section> .search{
    width: clamp(344px, 70vw, 491px);
    height: clamp(417px, 72vw, 595px);
    margin: 0 auto 20px auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  section> .register{
    width: clamp(344px, 70vw, 491px);
    height: clamp(417px, 72vw, 595px);
    margin: 0 auto 20px auto;
    background-color: #fcfcfc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }


  .article_textbox{
    width: 100%;
    font-size: clamp(16px, 1.4vw, 20px);
    font-weight: 500;
    color: #374151;
  }
  
  
  .search .article_textbox{
    text-align: right;
  } 

  

  section .hot_item img{
    width: 100%
  }

  section .search img{
    width: 100%
  }

  section .register img{
    border-radius: 12px;
    width: 100%;
  }

  .article_textbox> span{
    display:inline-block;
    font-size: 0.76em;
    font-weight: 700;
    color: #3692ff;
    margin-bottom: 0.4em;
    
  }

  .article_textbox> div{
    font-size: 1.66em;
    font-weight: 700;
    color: #374151;
    margin-bottom: 0.5em;
  }
  /*--------------------------------footer----------------------------------*/

  footer{
    height: 160px;
    background-color: #111827;
    position: relative;
  }

  .footer_textbox{
    
    width: clamp(343px, 85vw, 490px);
    height: 63px;
    font-size: 16px;
    font-weight: 400;
    color: #e5e7eb;
    position: absolute;
    top: 32px;
    left: 50%;    
    transform: translateX(-50%);
    display: grid;
    gap: 30px 0;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    
  }

  .footer_textbox> .footer_info{
    color: #9ca3af;
    grid-column: 1;
    grid-row: 2;
  }

  .footer_textbox> .footer_links{
    width: 159px;
    height: 19px;
    display: flex;
    color: #e5e7eb;
    
    justify-content: space-between;
    grid-column: 1;
    grid-row: 1;
  }

  .footer_links > a{
    color: #e5e7eb;
    text-decoration: none;
    line-height: 19px;
  }
  .footer_textbox> .footer_sns{
    width: 116px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
  }
}

