


.textArea {
  margin-top: 16px;
  width: 100%;
  height: 282px;
  border: none;
  border-radius: 12px;
  background-color: var(--gray-100);
  font-family: "pretendard";
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-800);
  padding: 15px 20px;
  margin-bottom: 24px;

 
}