$nowTablet: 1200px;
$nowMobile: 744px;

.positionBox {
  position: relative;
}

select {
  border: 0.1px solid var(--gray-200);
  width: 130px;
  height: 100%;
  border-radius: 12px;
  padding: 0 20px 0 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'pretendard';
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-800);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);

  @media (max-width: nowMobile) {
    width: 42px;
    height: 42px;
    background-image: url('../assets/sort.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

span {
  @media (max-width: nowMobile) {
    display: flex;
    align-items: center;
    height: 42px;
  }
}

option {
  width: 130px;
  height: 42px;
  font-family: 'pretendard';
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-800);
  border: 0.1px solid var(--gray-200);
}

option.recent {
  border-radius: 10px 10px 0 0;
}

option.favorite {
  border-radius: 0 0 10px 10px;
}
