$nowTablet: 1200px;
$nowMobile: 744px;

.sortOptions {
  border: 0.1px solid var(--gray-200);
  width: 130px;
  height: 42px;
  border-radius: 12px;
  padding: 0 20px 0 20px;
  background-color: #ffffff;
  font-family: 'pretendard';
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-800);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  text-align: start;

  @media (max-width: $nowMobile) {
    width: 42px;
    height: 42px;
    background-image: url('../assets/sort.png');
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
  }
}

.active {
  box-shadow: none;
}

.positionBox {
  position: relative;
}

.sortUl {
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
  top: 50px;
  @media (max-width: $nowMobile) {
    right: 0px;
  }
}
