@import url("./reset.css");

*, *::before, *::after {
  box-sizing: border-box;
  
}

:root {
  --color-banner-bg: #CFE5FF;
  --color-footer-bg: #111827;
  --color-section-bg: #fcfcfc;
  --color-simple-lb: #E6F2FF;

  --white: #FFFFFF;

  --blue-100: #3692FF;
  --blue-200: #1967D6;
  --blue-300: #1251AA;

  --red: #f74747;

  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;

  --login_bt_height: clamp(38px, 3.7vw, 48px);
}

/*---------------font------------*/

@font-face {
    font-family: 'ROKAFSans';
    font-weight: 400;
    src: url('../fonts/ROKAFSansMedium.woff') format('woff');
}

@font-face {
    font-family: 'ROKAFSans';
    font-weight: 700;
    src: url('../fonts/ROKAFSansBold.woff') format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 400;
    src: url('../fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 700;
    src: url('../fonts/Pretendard-Bold.woff') format('woff');
}