*{
  box-sizing: border-box;
}

.container{
  width: 640px;
  height: 618px;
  margin: 0 auto;
}




.title{
  width: 396px;
  height: 132px;
  margin: 60px auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img{
  width: 103.53px;
  height: 103.88px;
}

.title h1{
  font-family: "ROKAFSans";
  font-weight: 700;
  font-size: 66.34px;
  color: var(--blue-100);
  
}





.input_box{
  margin-bottom: 24px;
  font-family: "pretendard";
  color: var(--gray-800);
}

.input_box label{
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

.input_box input{
  width: 100%;
  height: 56px;
  border-radius: 12px;
  border: none;
  background-color: var(--gray-100);
  padding: 16px 24px;
  font-size: 16px;
  
}

.password_input_box{
  position: relative;
  display: flex;
  align-items: center;
}

.password_input_box img{
  position: absolute;
  right: 24px;
}

button{
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 40px;
  background-color: var(--blue-100);
  font-family: "pretendard";
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-100);
  margin-bottom: 24px;
}


.simple_login_box{
  width: 100%;
  height: 74px;
  padding: 16px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-simple-lb);
  border-radius: 8px;
  border: none;
  font-family: "pretendard";
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}


.signup_box{
  text-align: center;
  margin: 0 auto;
  font-family: "pretendard";
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-800);
}

.signup_box a{
  color: var(--blue-100);
  text-decoration: underline;
}







/* -------------------------------------
--------------  모바일  -----------------
---------------------------------------- */



@media (max-width: 767px){
  .container{
  width: clamp(343px, 50vw, 400px);
  height: 501px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}

.title{
  width: 198px;
  height: 66px;
  margin: 24px auto 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img{
  width: 51.76px;
  height: 51.94px;
}

.title h1{
  
  font-size: 33.17px;
  color: var(--blue-100);
  
}
}